@model IncomePageInfoViewModel

@{
    int prevPage = (Model.Incomes.CurrentPage == 1) ? 1 : Model.Incomes.CurrentPage - 1;
    int nextPage = (Model.Incomes.CurrentPage == Model.Incomes.TotalPages) ? Model.Incomes.TotalPages : Model.Incomes.CurrentPage + 1;
}

<div class="modal fade" id="validationErrorsModal" tabindex="-1" aria-labelledby="validationErrorsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validationErrorsModalLabel">Ошибки валидации</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Html.ValidationSummary(false, "", new { @class = "text-danger" })</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h1 class="display-4 text-center">Доходы</h1>
    <hr class="my-4">

    <h1 class="display-6 text-center my-4">Типы доходов</h1>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model.IncomeTypes)
        {
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-arrow-trend-up"></i>&nbsp;@item.Name</h5>
                        <p class="card-text">@item.Balance $</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <a asp-controller="Income" asp-action="DeleteType" asp-route-incomeTypeId="@item.Id" class="btn btn-primary m-1">
                                <i class="fas fa-trash"></i> Удалить
                            </a>
                            <button type="button" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#update" data-bs-route-id="@item.Id">
                                <i class="fas fa-edit"></i> Изменить
                            </button>
                        </div>
                        <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#history" data-bs-route-id="@item.Id">
                            <i class="fas fa-history"></i> История
                        </button>
                    </div>
                </div>
            </div>
        }

        @if (Model.IncomeTypes.Count == 0 || Model.IncomeTypes.Count % 4 == 0)
        {
            <button type="button" class="btn btn-primary w-100 h-100" data-bs-toggle="modal" data-bs-target="#createType" id="createTypeBtn">
                <i class="fas fa-plus-circle fa-3x"></i>
            </button>
        }
        else
        {
            <div class="col">
                <button type="button" class="btn btn-primary w-100 h-100" data-bs-toggle="modal" data-bs-target="#createType" id="createTypeBtn">
                    <i class="fas fa-plus-circle fa-3x"></i>
                </button>
            </div>
        }
    </div>

    <hr class="my-4">

    <h1 class="display-6 text-center">Общая история доходов</h1>

    <button type="button" class="btn btn-primary w-100 h-100 my-4" data-bs-toggle="modal" data-bs-target="#createIncome" id="createIncomeBtn">
        <i class="fas fa-plus-circle fa-3x"></i>
    </button>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var item in Model.Incomes.Items)
        {
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body d-flex flex-row justify-content-between">
                        <h5 class="card-title">+ @item.Amount $</h5>
                        <p class="card-text"> @item.Description</p>
                        <p class="card-text"> @item.CreationData</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Income" asp-action="Delete" asp-route-incomeId="@item.Id" class="btn btn-primary">
                            <i class="fas fa-trash"></i> Удалить
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation" class="my-4">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" asp-controller="Income" asp-action="Index" asp-route-pageNow="@prevPage">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 0; i < Model.Incomes.TotalPages; ++i)
            {
                <li class="page-item @(Model.Incomes.CurrentPage == i+1 ? "active":"")"><a class="page-link" asp-controller="Income" asp-action="Index" asp-route-pageNow="@(i+1)">@(i + 1)</a></li>
            }

            <li class="page-item">
                <a class="page-link" aria-label="Next" asp-controller="Income" asp-action="Index" asp-route-pageNow="@nextPage">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade" id="createIncome" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createIncomeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createIncomeLabel">Создать новый доход</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="createIncome-form" class="form-horizontal" asp-controller="Income" asp-action="Create" method="post">
                    <div class="form-group">
                        <label for="selectType">Выберите тип:</label>
                        <select name="TypeId" class="form-control" id="selectType" asp-items="@Model.SelectListIncomeType"></select>

                        <label for="selectAccount">Выберите счёт:</label>
                        <select name="FinancialAccountId" class="form-control" id="selectAccount" asp-items="@Model.SelectListFinancialAccount"></select>

                        <label for="inputAmount">Сумма:</label>
                        <input name="Amount" type="number" class="form-control" id="inputAmount" value="0">

                        <label for="inputDescr">Описание:</label>
                        <input name="Description" type="text" class="form-control" id="inputDescr">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="createIncome-form">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateLabel">Изменить название типа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="update-form" class="form-horizontal" asp-controller="Income" asp-action="UpdateType" method="post">
                    <div class="form-group">
                        <label for="inputNameUpdate">Name</label>
                        <input name="Name" type="text" class="form-control" id="inputNameUpdate">
                        <input type="hidden" name="incomeTypeId" id="inputIdUpdate" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="update-form">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createType" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createTypeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTypeLabel">Создать новый тип</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="createType-form" class="form-horizontal" asp-controller="Income" asp-action="CreateType" method="post">
                    <div class="form-group">
                        <label for="inputNameCreateType">Name</label>
                        <input name="Name" type="text" class="form-control" id="inputNameCreateType">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="createType-form">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="history" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="historyLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historyLabel">Выберите дату:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="history-form" class="form-horizontal" asp-controller="Income" asp-action="History" method="post">
                    <div class="form-group">

                        <label for="inputMonth">Месяц</label>
                        <input name="month" type="number" min="1" max="12" class="form-control" id="inputMonth">

                        <label for="inputYear">Год</label>
                        <input name="year" type="number" min="2000" max="2023" class="form-control" id="inputYear" title="2000 - 2023">

                        <input type="hidden" name="incomeTypeId" id="inputIdHistory" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="history-form">Посмотреть</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            @if (!ViewData.ModelState.IsValid)
            {
                <text>$('#validationErrorsModal').modal('show'); </text>
            }

            $('#update').on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var incomeTypeId = button.data('bs-route-id');
                var modal = $(this);
                modal.find('#inputIdUpdate').val(incomeTypeId);
            });

            $('#history').on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var incomeTypeId = button.data('bs-route-id');
                var modal = $(this);
                modal.find('#inputIdHistory').val(incomeTypeId);
            });
        });
    </script>
}